@import "./_mixins.scss";

main {
    width: 90%;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    .cards {
        @include flex(row, $justify: flex-start, $align: initial, $wrap: true, $gap: 50px);
        margin-bottom: 50px;
    }
    h1, 
    .else {
        margin-bottom: 15px;
    }
    .else {
        font-size: 1.5em;
    }
}
